numpy
# ad3 with fixes for Windows:
https://github.com/andre-martins/AD3/archive/master.zip
atlas
decorator 
boto
bz2file
cvxopt
cycler
nltk
httpretty
logging 
path.py
pexpect
ptyprocess
pyparsing
pystruct
python-dateutil
pytz
requests
scipy
sklearn
Cython
simplegeneric
six
smart-open
threadpool
traitlets
